*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    transition: all 0.10s ease;
    overflow: hidden;
    padding-bottom: 5px;
}

.card img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
}
.card:hover{
    transform: translateY(-5px);
    border: 2px solid black;
    box-shadow: 5px 2px 10px gray;
}
#text{
    width: 100%;
    padding-left: 15px;
}
#btn{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    transition: all 0.10s ease;
}
#btn:hover{
    transform: scale(1.05);
    border: 1px solid black;
}
#btn:active{
    transform: scale(0.95);
}