*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    background-color: #000;
    overflow: hidden;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn{
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: aquamarine;
    font-weight: bold;
    cursor: pointer;
    z-index: 100;

    transition: all 0.25s ease;
}
#btn:hover{
    box-shadow: 1px 2px 6px white;
    transform: translateY(-2px); 
}
#btn:active{
    transform: translateY(1px);
    box-shadow: none;
}