*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

html, body{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5;
    background-color: #000;
}

#colorBox{
    width: 300px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}
#btn{
    background-color: #fff;
    color: #000;
    border: none;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
}