*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    background-color: black;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
section{
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    font-weight: 700;
}


#loadBar{
    width: 100%;
    height: 15px;
    background-color: gainsboro;
    border-radius: 10px;
    margin: 10px 0px;
}
#progBar{
    width: 0%;
    height: 100%;
    background-color: green;
    border-radius: 10px;
}

#bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#btn{
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    background-color: green;
    color: white;
    font-style: bold;
    user-select: none;
    transition: all 0.15s ease;
}
#btn:hover{
    filter: brightness(110%);
    transform: scale(1.05);
}
#btn:active{
    transform: scale(0.98);
}